/*generals*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
body{background:url('../images/subtle_orange_emboss.png');font-family:'Ubuntu',sans-serif;}
ul{list-style:none;}
a {text-decoration: none;}
/*nav*/
.nav {display:block;background:linear-gradient(#373a40,#686d76);}
.nav>ul{display:flex;flex-flow:row wrap;justify-content: center; padding: 0; margin: 0;}
.nav a{display:block;padding:5px;color:white;}
.nav li:hover {background:linear-gradient(#32e0c4,#0d7377);}
/*footer*/
.footer {display:flex;background:linear-gradient(#373a40,#686d76);flex-direction:row;justify-content:center;}
.footer span{color:white;padding:5px;}
/*content*/
.content{background-color:whitesmoke;}

/*others*/
.form {display: flex; justify-content: center; padding: 25px;}
.form form {display: flex; flex-flow: column wrap; width: 250px; background-color: whitesmoke; border-radius: 5px;box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);}
.form form > * {margin-top: 5px; margin-bottom: 5px;}
.btn {padding: 5px; border-radius: 5px; font-weight: bold;}
.btn > a{color:white}
.btn-primary{background-image: linear-gradient(#04519b, #033c73 60%, #02325f); color: white;}
.btn-secondary{background-image: linear-gradient(#e12b31, #c71c22 60%, #b5191f); color: white;}
.div-background{background-color: whitesmoke; border-radius: 5px;box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);}